@mainColor: orange;
@h3Color: #ea862e;
@cartSize: 300px;
@screen-xs: 768px;

#cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: @cartSize;

  background-color: white;

  box-shadow: 0 0 5px 1px gray;

  z-index: 20;
}

#range {
  padding-right: @cartSize + 20px;
}

#range-navbar {
  padding-right: @cartSize;
  z-index: 10;
  opacity: 0.9;
  min-width: 550px;
}

#range-nav {
  display: inline-block;
}

.range-nav-center {
  text-align: center;
}

.range-head {
  text-align: center;
}

#head-label {
  display: inline-block;
}

#head-counter {
  display: inline-block;
  border-radius: 15px;
  background-color: @h3Color;
  font-weight: bold;
  color: white;
  padding: 4px 10px;
  border-bottom: 10px;
  vertical-align: middle;
}

#head-label:after {
  display: inline-block;
  content: " ";
  width: 10px;
}

.nav-pills a {
  color: #ff7a00!important;
}

.nav-pills .active a{
  background-color: @h3Color!important;
  color: white!important;
}

#main {
  min-width: 610px;
}

#navbar-main {
  padding-left: 130px;
  color: gray;
}

.navbar-line-1 {
  border-bottom: 1px solid;
  height: 45px;
  margin-right: 15px;

  .navbar-phone {
    font-size: 20px;
    padding: 5px;
    display: inline-block;
  }

  .navbar-time {
    font-size: 12px;
    padding: 5px;
  }

  .navbar-freeship {
    font-size: 16px;
    padding: 5px;
  }

  .btn {
    display: inline-block;
    float: left;
    margin-top: 5px;
    vertical-align: middle;
  }
}

.navbar-line-2 {
  .navbar-line-2-pizza {
    font-size: 18px;
    padding: 5px;
    color: white;
  }
}

.footer {
  padding-right: @cartSize;
  text-align: center;
  border-top: lightgray 1px solid;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  p:first-child {
    margin-top: 30px;
  }
  p:last-child {
    margin-bottom: 30px;
  }
  p {
    color: gray;
    margin-bottom: 10px;
  }
}

.diameter-icon:before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/images/size-icon.svg");
  width: 12px;
  height: 12px;
  margin-right: 3px;
  vertical-align: middle;
}

.weight-icon:before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/images/weight.svg");
  width: 9px;
  height: 12px;
  margin-right: 3px;
  vertical-align: middle;
}

@media (max-width: @screen-xs) {
  .navbar-line-1 {
    height: 30px;
    .navbar-phone {
      font-size: 12px;
    }
    .btn {
      margin-top: 37px;
      margin-bottom: 5px;
      display: block;
    }
  }
}

@import "pizza/pizza-card";
@import "pizza/labels";
@import "pizza/cart";