<div class="range-head">
    <h2 id="head-label">Усі піци</h2>
    <p id="head-counter"></p>
</div>
<div class="range-nav-center">
    <ul id="range-nav" class="nav nav-pills range-nav"></ul>
</div>
<div class="col-xs-12" style="height:20px"></div>
<div class="row" id="pizza_list"></div>