<%- include('common/header', {cssArray: ['common.css', 'mainPage.css'], pageTitle: 'Вибір Піци'}) %>

<div id="main" class="container-fluid">
    <div id="range" class="container">
        <div class="col-xs-12" style="height:80px"></div>
        <%- include('range/range_range') %>
    </div>
    <div id="cart">
        <%- include('range/range_cart') %>
    </div>
</div>

<%- include('common/footer', {jsFileName: "rangePage.js", googleMaps: false, liqpay: false}) %>