<%- include('common/header', {cssArray: ['mainPage.css']}) %>

<div id="main" class="container-fluid">
    <div id="range" class="container">
        <%- include('range/range_range') %>
    </div>
    <div id="cart">
        <%- include('range/range_cart') %>
    </div>
</div>

<%- include('common/footer') %>