<%- include('common/header', {cssArray: ['common.css', 'orderPage.css'], pageTitle: 'Замовлення'}) %>

<div id="main" class="container-fluid">
    <div id="range" class="container">
        <%- include('order/order_range') %>
    </div>
    <div id="cart">
        <%- include('order/order_cart') %>
    </div>
</div>

<%- include('common/footer', {jsFileName: "orderPage.js", googleMaps: true, liqpay: true}) %>