<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <% cssArray.forEach(function (stylesheet) { %>
    <link rel="stylesheet" type="text/css" href="assets/css/<%= stylesheet %>"/>
    <% console.log("Trying to load " + stylesheet) %>
    <% }); %>
</head>
<body>
<div id="range-navbar" class="navbar navbar-fixed-top navbar-inverse">
    <div id="navbar-main">
        <div class="navbar-line-1">
            <div class="navbar-phone">(044) 101 5 610</div>
            <div class="visible-md-inline-block visible-lg-inline-block navbar-time">24 години/7 днів на тиждень</div>
            <div class="visible-lg-inline-block navbar-freeship">Безкоштовна доставка піци</div>
            <button class="btn btn-warning" style="float: right">Увійти</button>
        </div>
        <div class="navbar-line-2">
            <div class="navbar-line-2-pizza visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                Піца
            </div>
        </div>
    </div>
</div>
<div class="label-top">
    <div class="label-text">
        <div class="label-text-1">PIZZA</div>
        <div class="label-text-2">KMA</div>
    </div>
    <img src="assets/images/discount.svg">
</div>
<div class="label-bottom">
    <img src="assets/images/discount.svg">
    <div class="label-text">
        <div class="label-text-1">ЦЬОГО</div>
        <div class="label-text-1">ТИЖНЯ</div>
        <div class="label-text-1">НА ВСЕ</div>
        <div class="label-text-2">-20%</div>
    </div>
</div>