<div id="cart-head">
    <div class="ct-order">Замовлення</div>
    <div id="ct-count">2</div>
</div>
<div id="ct-container" class="ct-container"></div>
<div class="cart-bottom">
    <div class="ct-summ">
        <p class="ct-summ-t">Сума замовлення</p>
        <p id="ct-summ"></p>
    </div>
    <a id="ct-order" href="/" class="btn btn-default">Редагувати замовлення</a>
</div>