<div class="row">
    <div class="col-xs-12" style="height:150px"></div>
    <div class="range-name col-12-xs">1. Контактні дані</div>
    <div class="col-md-7">
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="name-orderer">Ім'я</label>
                <div class="col-sm-10">
                    <input id="name-orderer" type="text" class="form-control" placeholder="Ваше ім'я">
                    <div id="wrong-input-name" class="wrong-input" style="display: none">Ім'я може містити лише літери
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="tel-orderer">Телефон</label>
                <div class="col-sm-10">
                    <input id="tel-orderer" type="tel" class="form-control" placeholder="+380441488844">
                    <div id="wrong-input-tel" class="wrong-input" style="display: none">Введіть номер починаючи з +380
                        або 0
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label" for="addr-orderer">Адреса</label>
                <div class="col-sm-10">
                    <input id="addr-orderer" type="text" class="form-control" placeholder="Київ, вул. Спаська, 2">
                    <div id="wrong-input-addr" class="wrong-input" style="display: none">Введіть корретну адерсу</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 order-summary">
        <div class=" bs-callout bs-callout-warning">
            <h4 style="color: black">Інформація про замовлення</h4>
            <p class="order-summery-time">
                <b>Приблизний час доставки:</b> невідомий
            </p>
            <p class="order-summery-adress">
                <b>Адреса доставки:</b> невідома
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <a id="button-forvard" class="btn btn-warning" style="float: right; margin-top: 20px">Далі <span
                    class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
    </div>
    <div class="col-xs-12" style="height: 20px;"></div>
</div>
